.signup-text {
    font-family: monospace; /* Monospace font for prompts */
    color: #00cfc7;
    font-weight: bold;
}

.signup-input {
    background-color: #0d1117; /* Darker input background */
    color: #ffffff; /* White text */
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2e0e33;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.panel {
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    width: 100vw; /* Full viewport width */
    max-width: 400px;
    height: 250px;
    background-color: #24292f; /* Dark gray background */
    color: #c9d1d9; /* Light gray text */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-dark-custom {
    color: #737597;
    background: none;
    float: right;
}
