@page
@model CodeSparks.Areas.Identity.Pages.Account.WelcomeModel
@{
    ViewData["Title"] = "Sign Up";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/signup.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div id="particles-js"></div>

    <div class="panel" style="display: block;">
        <div class="p-3">
            <h4 class="spacefont">
                Hello, adventurer
            </h4>

            <form class="mt-4" method="POST">
                <div class="mb-3">
                    <label for="username" class="signup-text">What is your username?</label>
                    <input type="text" autofocus class="form-control signup-input" id="username" name="username" required>
                    <p>
                        @if (!ModelState.IsValid)
                        {
                            <span style="color: #ff9999;font-size: smaller;">
                                @ModelState.Values.ToArray()[0].Errors[0].ErrorMessage
                            </span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </p>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn-dark-custom">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/signup.js"></script>

</body>