@page
@model CodeSparks.Areas.Identity.Pages.Account.WelcomeModel
@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/welcome.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div id="particles-js"></div>

    <div class="panel" style="display: block;">
        <div class="p-3">
            <h3>
                Let's start
            </h3>

            <form class="mt-4">
                <div class="mb-3">
                    <label for="username" class="signup-text">Enter your username</label>
                    <input type="text" autofocus class="form-control signup-input" id="username" required>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn-dark-custom">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/welcome.js"></script>

</body>