


<section class="how-it-works container my-5">
    <h2 class="text-center mb-4">What is CodeSparks? ❇️🎆✨🎇✴️</h2>
    <div class="row">
        <div class="col-md-9">
            <p><b>codesparks.org</b> is a platform designed to ignite a passion for tech learning. Whether you're a newbie or a seasoned pro, we offer interactive challenges and projects that make learning fun and efficient.</p>

            <ul>
                <li>
                    Tackle bite-sized tasks, which we call <a asp-controller="Sparks" asp-action="Index">Sparks</a> ✨,
                </li>
                <li>
                    Sharpen your <a asp-controller="Skills" asp-action="Index">Skills</a>, and track your progress,
                </li>
                <li>
                    Contribute to open-source <a asp-controller="Projects" asp-action="Index">Projects</a>,
                </li>
                <li>
                    Join our vibrant <a asp-controller="Community" asp-action="Index">Community</a> of learners.
                </li>
            </ul>
            and level up your tech abilities, one spark at a time.</p>

            <h4 class="mt-2">New here?</h4>
            <p>
                Dive in and explore our curated collection of 
                <a asp-controller="Sparks" asp-action="Beginner">beginner-friendly Sparks!</a>
                or start with our 
                <a asp-controller="Quests" asp-action="Start" asp-route-id="2a4b9bcd-2099-4abe-a8ec-13ddf462b69f">
                    Onboarding Quest
                </a>
            </p>
            <p>
                <div class="mt-3">
                    <p>
                        Also, you can connect with us in <a target="_blank" href="https://t.me/codesparks"><i class="bi bi-telegram"></i> Telegram chat</a>.
                    </p>
                </div>
            </p>

        </div>

        <div class="col-md-3">
            <img src="~/img/coding_person.jpg" style="max-height:280px" class="" alt="Person Coding on a Computer">
        </div>
    </div>
</section>

<section id="github" class="text-center mt-5">
    <h2>Code Sparks on GitHub</h2>
    <p>Contribute to our open-source projects and be a part of the Code Sparks community on GitHub.</p>
    <a href="https://github.com/CodeSparks-org/CodeSparks" class="btn btn-dark"><i class="bi bi-github"></i> Visit GitHub Repository</a>
</section>

