

<div class="text-center">
    <h3>Short description</h3>

    <p>
        CodeSparks is a collaborative platform that empowers software engineers to transform ideas into reality.
        By combining automated workflows, code sharing, and AI-driven tools,
        we create a dynamic environment for learning, innovation, and growth.
        Think of it as GitHub on steroids, supercharged with AI.
    </p>



    <h3>More detailed</h3>
    <p>
        CodeSparks is a collaborative platform for software engineers
        that provides a toolbox with technical ideas together with an environment which helps to grow and turn those ideas into reality.
        This is done through collaboration with people, tools, and AI
        and is designed to empower engineers with their technical journey
        by providing an open and engaging place that helps you grow.

        You can think of CodeSparks as GitHub on steroids or as AI-Powered Development Environment.
    </p>
</div>



<div class="mt-5">
    <p>
        Work is actively in progress
        <a target="_blank" href="https://github.com/CodeSparks-org/CodeSparks">in the Github repository</a>.
    </p>
    <p>Discssion is in <a target="_blank" href="https://t.me/codesparks">this Telegram chat</a>.
</div>