

<section class="how-it-works container my-5">
    <h2 class="text-center mb-4">What is CodeSparks</h2>
    <div class="row">
        <div class="col-md-9">
            <p><b>codesparks.org</b> is a platform designed to ignite a passion for tech learning. Whether you're a newbie or a seasoned pro, we offer interactive challenges and projects that make learning fun and efficient.</p>

            <p>Tackle bite-sized tasks, which we call Sparks, sharpen your skills, and track your progress. Join our vibrant community of learners and level up your tech abilities, one spark at a time.</p>

            <h4 class="mt-2">Ready to light the spark?</h4>
            <p>Dive in and explore our curated collection of <a asp-controller="Sparks" asp-action="Beginner">beginner-friendly Sparks!</a></p>

        </div>

        <div class="col-md-3">
            <img src="~/img/coding_person.jpg" style="max-height:200px" class="" alt="Person Coding on a Computer">
        </div>
    </div>
</section>

<section>
    <div class="mt-5" style="font-weight:bolder">
        <p>
            Work is actively in progress in the
            <a target="_blank" href="https://github.com/CodeSparks-org/CodeSparks">
                <i class="bi bi-github"></i> Github repository
            </a>.
            Also, you can connect with us in this <a target="_blank" href="https://t.me/codesparks"><i class="bi bi-telegram"></i> Telegram chat</a>.
        </p>
    </div>
</section>
