<section class="call-to-action text-center py-5 bg-light">
    <h2>Follow us on Github</h2>
    <p>We are currently under active development</p>
    <p>But you can stay tuned for updates and be among the first to experience the codesparks.org adventure!</p>
    <a href="https://github.com/CodeSparks-org/CodeSparks" target="_blank" class="btn btn-primary mt-3" role="button">
        Check out the repository
    </a>
</section>

<section class="call-to-action text-center py-5 bg-light">
    <h2>Join the CodeSparks chat</h2>
    <p>Feel free to ask questions, request features and more.</p>
    <a href="https://t.me/codesparks" target="_blank" class="btn btn-primary mt-3" role="button">
        Join Telegram chat
    </a>
</section>

<section class="call-to-action text-center py-5 bg-light">
    <h2>Suggest an idea</h2>
    <p>You can always suggest an idea by creating a special Spark ✨</p>
    <a asp-controller="Sparks" asp-action="Create" asp-route-category="@SparkCategory.Idea" class="btn btn-warning mt-3" role="button">
        Ignite the <b>Idea</b> Spark
    </a>
</section>