<div class="text-center">
    <h1 class="display-4">❇️🎆✨🎇✴️</h1>
    <p>Work is actively in progress
        <a target="_blank" href="https://github.com/CodeSparks-org/CodeSparks">in the Github repository</a>.
    </p>
    <p>Discssion is in <a target="_blank" hreff="https://t.me/codesparks">this Telegram chat</a>.

    <h4 class="mt-3">Next tasks are coming</h4>
    1. Add tasks to database
    2. Add ability to add new task
    3. Add ability to finish the task
</div>
