<div class="text-center">
    <h1 class="display-4">❇️🎆✨🎇✴️</h1>
    <p>Work is actively in progress
        <a target="_blank" href="https://github.com/CodeSparks-org/CodeSparks">in the Github repository</a>.
    </p>
    <p>Discssion is in <a target="_blank" href="https://t.me/codesparks">this Telegram chat</a>.

    <h4 class="mt-5">Those sparks are flashing</h4>
    <div class="card mt-1">Add tasks to database</div>
    <div class="card mt-1">Add ability to add new task</div>
    <div class="card mt-1">Add ability to finish the task</div>
</div>
