@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model List<Spark>
@{
    var starters = new List<Spark>
    {
        //new Spark { Name = "First Spark", Description = "Try me!", Id = -1 },
        //TODO: remove this line and create those sparks in database
    };
}
@* 
<section class="container text-center">
    <div style="font-weight:bolder" class="mb-4">
        <h4>
            CodeSparks helps to move tech ideas from a concept to reality.
        </h4>
    </div>
</section> *@

<section class="features container m3-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <a asp-controller="Quests" asp-action="Index" class="stretched-link">  </a>
                <img src="~/img/quests_banner.jpg" class="card-img-top" alt="Coding Challenge Illustration">
                <div class="card-body">
                    <h5 class="card-title">Engaging Quests</h5>
                    <p class="card-text">Tackle exciting coding tasks and test your abilities in a fun and interactive environment.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a asp-controller="Skills" asp-action="Index" class="stretched-link">  </a>
                <img src="~/img/level_up_tech.jpg" class="card-img-top" alt="Badge Illustration">
                <div class="card-body">
                    <h5 class="card-title">Level-up your skills</h5>
                    <p class="card-text">Master new concepts, try your skills on practice, and showcase your progress as you become a tech guru.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a asp-controller="Home" asp-action="Connect" class="stretched-link">  </a>
                <img src="~/img/community.jpg" class="card-img-top" alt="Community Illustration">
                <div class="card-body nolinkstyle">
                    <h5 class="title">Connect with tech community</h5>
                    <p class="card-text nolinkstyle">Join a supportive community, share your experiences, and learn from each other.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <section id="explore-projects">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Explore Projects</h2>
                <p>Discover a wide range of exciting projects and collaborate with other developers.</p>
                <a asp-controller="Projects" asp-action="Index" class="btn btn-success">Explore Projects</a>
            </div>
        </div>
    </section>

    <section id="start-activity">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h2>Share your idea or task</h2>
                <p>Create your own task and build a community around it.</p>
                <a asp-controller="Sparks" asp-action="Create" class="btn btn-warning">＋ Ignite your Spark *</a>
            </div>
        </div>
    </section>

    <section id="learn-more">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h2>Learn More</h2>
                <p>Feel free to learn more
                    <a asp-controller="Home" asp-action="About" class="">About Code Sparks</a>.
                </p>
            </div>
        </div>
    </section>
    
    
    
</div>


@* <h1 class="display-4">❇️🎆✨🎇✴️</h1> *@
