<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is empty for now, but you can change it by contributing or suggestions ideas
        <a href="https://github.com/CodeSparks-org/CodeSparks">in Github repository</a>.
    </p>
</div>
