@{
    var sparks = new List<(string, string)>
    {
        new ("Fake: Add Sparks to database", "Make it possible to have a dynamic list of sparks"),
        new ("Fake: Add Sparks to database", "Make it possible to have a dynamic list of sparks"),
        new ("Fake: Flow to add new sparks", "Make it possible to add new tech sparks, so they can be tracked and implemented"),
        new ("Fake: Flow to add new sparks", "Make it possible to add new tech sparks, so they can be tracked and implemented"),
        new ("Fake: Flow to add new sparks", "Make it possible to add new tech sparks, so they can be tracked and implemented"),
        new ("Fake: Put sparks into practice", "Add ability to change status for tech sparks, which are done"),
    };
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<div class="container">

    <h2>Active Sparks 🎆</h2>
    <div class="row">
        @for (int i = 0; i < 6; i++) //hardcoded for now
        {
            var spark = sparks[i];
            <div class="card-deck col-md-3">
                <div class="card">
                    <a href="home/about" class="stretched-link">  </a>
                    @* <img class="card-img-top" src="..." alt="Card image cap"> *@
                    <div class="card">
                        <div>
                            <div class="d-flex justify-content-center">
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star-fill text-warning"></i>
                                <i class="bi bi-star text-warning"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@spark.Item1</h5>
                        <p class="card-text">
                            @spark.Item2
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        }
    </div>

    <a href="/home/createspark" class="btn btn-warning mt-3">＋ Ignite your own Spark *</a>
</div>


@* <h1 class="display-4">❇️🎆✨🎇✴️</h1> *@
